.button span, .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after, .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span, .button2:hover span {
    padding-right: 25px;
}

.button:hover span:after, .button2:hover span:after {
    opacity: 1;
    right: 0;
}
.custom-textarea::placeholder {
    color: black;
}