body{
    margin:0;
    padding:0;
    font-family:"arial",heletica,sans-serif;
    font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;

}

@-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0 100%, 0 20%);
    backdrop-filter: blur(39px);
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
}
.box input[type = "text"], .box input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #3498db;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
a {
    text-decoration: none;
    color: white;
}
.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}

