.ri-search-line{
    color: darkblue;
    cursor: pointer;
}
.box{
    background-color: #10559d;
    width: 330px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.search{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
}